.strength-log-info {
	padding-inline: 5px;
	padding-block: 5px;
	background-color: var(--color-primary-brown-dark);
	border: 3px solid var(--color-primary-brown-light);
	border-radius: var(--border-radius-small);
}

.strength-log-info-content {
	height: 100%;
	display: block grid;
	grid-template-columns: auto;
	gap: 20px;
	border: 2px solid var(--color-primary-brown-light);
	background-color: var(--color-primary-brown);
}

.strength-log-box {
	display: block grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"content"
		"footer";
	gap: 10px;
	padding-inline: 10px;
	padding-block: 10px;
}

.strength-log-title {
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	text-align: center;
	grid-area: header;
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);

	@media (width < 768px) {
		font-size: 1.125rem;
	}
}

.strength-log-list-content {
	display: block grid;
	grid-area: content;
}

.strength-log-list-box {
	width: 100%;
	background-color: var(--color-primary-dark-gray);
	border: 2px solid var(--color-primary-white);
	border-radius: var(--border-radius-small);
  padding-block-start: 10px;
	overflow-y: scroll;
}

.strength-log-list {
	width: 100%;
	max-height: 208px;
	display: block grid;
	grid-template-rows: ;
  justify-content: center;
	gap: 10px;
	padding-inline: 10px;
}

.strength-log-item {
	color: var(--color-primary-white);

	&:last-child {
		padding-block-end: 10px;
	}
}

.strength-log-loading-text {
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
	display: block grid;
	place-items: center;
	padding-block-start: 15px;
}

.strength-log-text {
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
}

.strength-log-link-box {
	display: block grid;
	place-items: center;
	grid-area: footer;
}

.strength-log-link {
	font-size: 0.875rem;
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-white);
	display: block flow;
	position: relative;
	padding-block-end: 3px;
	padding-inline: 3px;
	text-shadow: 1px 1px 0px var(--color-primary-black);
	transition: text-shadow 0.1s ease-in-out;

	&:hover {
		text-shadow: 0 0 8px rgb(255 255 255 / 0.5);

		&::before {
			opacity: 1;
		}
	}

	&::before {
		position: absolute;
		content: "";
		background-image: url(/images/arrow/arrow-icon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 15px;
		height: 15px;
		top: 50%;
		left: -18px;
		transform: translateY(-50%) rotate(180deg);
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--color-primary-white);
		bottom: 0;
		left: 0;
	}
}
