.container {
	max-height: calc(100vh - 212px);
	display: block grid;
	grid-template-columns: 275px 1fr;
	gap: 20px;
	padding-inline: 20px;
	padding-block: 0 17px;

	@media (width < 1024px) {
		grid-template-columns: 1fr;
	}

	@media (width < 640px) {
		padding-inline: 12px;
	}
}

.main {
	overflow: hidden;
}

.content {
	position: relative;
	height: 100%;
	background-color: var(--color-primary-dark-gray);
	padding-inline: 12px;
	padding-block: 21px 12px;
	border-radius: var(--border-radius-medium);
}
