.explorer-header {
	grid-area: header;
	padding-inline: 20px;
	padding-block-end: 20px;

	@media (width < 1024px) {
		padding-inline: 0;
	}
}

.explorer-header-content {
	max-width: 760px;
	width: 100%;
	margin-inline: auto;
	display: block grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	font-size: 0.875rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);

	@media (width < 1024px) {
		grid-template-columns: 1fr;
	}
}

.explorer-line {
	grid-area: line;
}

/* explore-analysis-controls関連のスタイル */
.explore-analysis-controls {
	display: grid;
	place-items: center;
}

.explore-analyze-button {
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	border-radius: var(--border-radius-small);
	padding-block: 3px;
	padding-inline: 3px;
	background-color: var(--color-primary-brown-dark);
	border: 2px solid var(--color-primary-brown-light);
}

.explore-analyze-button:hover .explore-analyze-button-text {
	border-color: var(--color-primary-yellow);
}

.explore-analyze-button-text {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	background-color: var(--color-primary-brown);
	border: 1.5px solid var(--color-primary-brown-light);
	padding-block: 10px 11px;
	padding-inline: 15px;
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: border-color 0.2s ease-in-out;
}

.explore-analyze-button-icon {
	width: 18px;
	height: 18px;
	object-fit: contain;
	object-position: center;
}

.explore-analyzing {
	opacity: 0.7;
	cursor: not-allowed;
}

.explore-analyzing:hover .explore-analyze-button-text {
	border-color: var(--color-primary-brown-light);
}

.explore-guest-message {
	opacity: 0.6;
	cursor: not-allowed;
}

.explore-guest-message:hover .explore-analyze-button-text {
	border-color: var(--color-primary-brown-light);
}
