.strength-equipment-info {
	padding-inline: 5px;
	padding-block: 5px;
	background-color: var(--color-primary-brown-dark);
	border: 3px solid var(--color-primary-brown-light);
	border-radius: var(--border-radius-small);
}

.strength-equipment-info-content {
	height: 100%;
	display: block grid;
	grid-template-columns: auto;
	border: 2px solid var(--color-primary-brown-light);
	background-color: var(--color-primary-brown);
}

.strength-equipment-box {
	display: block grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	gap: 10px;
	padding-inline: 10px;
	padding-block: 10px;
}

.strength-equipment-title {
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	text-align: center;
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);

	@media (width < 768px) {
		font-size: 1.125rem;
	}
}
