.start-btn-container {
	display: block grid;
	place-items: center;
	margin-block-start: 135px;
}

.start-btn {
	width: 165px;
	height: auto;
	position: relative;
}

.start-btn-image {
	display: block flow;
}

.start-btn-image-hover {
	position: absolute;
	top: 1px;
	left: 0px;
	width: 100%;
	height: 61.5px;
	opacity: 0;
}

.start-btn:hover .start-btn-image {
	opacity: 0;
}

.start-btn:hover .start-btn-image-hover {
	opacity: 1;
}
