.gnav-item-link-container {
	position: relative;
	width: 100%;
	height: auto;
	display: block grid;
	background-color: var(--color-primary-dark-gray);
	padding-inline-start: 16px;
	padding-block: 5px;
	cursor: pointer;

	&:before {
		content: "";
		background-image: url("/images/arrow/arrow-icon.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 16px;
		height: 16px;
		position: absolute;
		left: 12px;
		top: 52%;
		transform: translateY(-50%) rotate(180deg);
		opacity: 0;
		transition: opacity 0.1s;
	}

	&:hover {
		background-color: var(--color-primary-dark-gray);

		&:before {
			opacity: 1;
		}

		.gnav-item-content {
			padding-inline-start: 16px;
		}
	}
}

.gnav-item-active,
.gnav-item-not-link {
	display: block grid;
	justify-content: start;
	cursor: default;

	&::before {
		opacity: 1;
	}
}

.gnav-item-link {
	display: block grid;
	justify-content: start;
	width: 100%;
}

.gnav-item-content {
	display: block grid;
	place-items: center;
	grid-template-columns: 31px 1fr;
	gap: 6px;
	transition: padding-inline-start 0.2s;
}

.gnav-item-icon {
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(0 0 0.7px var(--color-primary-white));

	&[data-nav-id="1"] {
		width: 20px;
	}

	&[data-nav-id="2"] {
		width: 26px;
	}

	&[data-nav-id="3"] {
		width: 31px;
	}

	&[data-nav-id="4"] {
		width: 23px;
	}

	&[data-nav-id="5"] {
		width: 22px;
	}

	&[data-nav-id="6"] {
		width: 24px;
	}

	&[data-nav-id="7"] {
		width: 22px;
	}

	&[data-nav-id="8"] {
		width: 22px;
	}

	&[data-nav-id="9"] {
		width: 25.5px;
	}

	&[data-nav-id="10"] {
		width: 20.5px;
	}
}

.gnav-item-content-active {
	padding-inline-start: 16px;
}

.gnav-item-title {
	font-size: 13px;
	font-weight: var(--font-weight-x-bold);
}
