.gnav-item {
	position: relative;
	width: 100%;
	height: auto;
	background-color: var(--color-primary-dark-gray) !important;
	justify-content: flex-start !important;
	padding-block: 5px !important;
	/* padding-inline: 23px !important; */

	&:before {
		content: "";
		background-image: url("/images/arrow/arrow-icon.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 17px;
		height: 17px;
		position: absolute;
		left: 13px;
		top: 52%;
		transform: translateY(-50%) rotate(180deg);
		opacity: 0;
		transition: opacity 0.1s;
	}

	&:hover {
		background-color: var(--color-primary-dark-gray);

		&:before {
			opacity: 1;
		}

		.gnav-item-content {
			padding-inline-start: 16px;
		}
	}
}

.gnav-item-active,
.gnav-item-not-link {
	cursor: default;

	&::before {
		opacity: 1;
	}
}

.gnav-item-link {
	display: block grid;
}

.gnav-item-content {
	display: block grid;
	place-items: center;
	grid-template-columns: 32px 1fr;
	gap: 6px;
	transition: padding-inline-start 0.2s;
}

.gnav-item-icon {
	object-fit: contain;
	object-position: center;
	filter: drop-shadow(0 0 0.7px var(--color-primary-white));

	&[data-nav-id="1"] {
		width: 19px;
	}

	&[data-nav-id="2"] {
		width: 25px;
	}

	&[data-nav-id="3"] {
		width: 30px;
	}

	&[data-nav-id="4"] {
		width: 20px;
	}

	&[data-nav-id="5"] {
		width: 20px;
	}

	&[data-nav-id="6"] {
		width: 23px;
	}

	&[data-nav-id="7"] {
		width: 20px;
	}

	&[data-nav-id="8"] {
		width: 20px;
	}

	&[data-nav-id="9"] {
		width: 20px;
	}

	&[data-nav-id="10"] {
		width: 20px;
	}
}

.gnav-item-content-active {
	padding-inline-start: 16px;
}

.gnav-item-title {
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
}
