.about-title {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: var(--leading-none);
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	background-color: var(--color-primary-dark-gray);
	padding-block: 0 10px;
	padding-inline: 10px;
	z-index: 10;

	@media (width < 768px) {
		font-size: 1rem;
		line-height: var(--leading-x-tight);
	}
}

.about-container {
	height: 100%;
	display: block grid;
	grid-template-rows: auto 1fr;
	place-content: center;
	grid-template-areas:
		"content"
		".";
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block-start: 20px;
}

.about-content {
	grid-area: content;
	overflow-y: scroll;
}

.about-article {
	display: block grid;
	gap: 50px;
	padding-block: 30px 50px;
	padding-inline: 50px;
	color: var(--color-primary-white);

	@media (width < 768px) {
		padding-block: 10px 45px;
		padding-inline: 20px;
		gap: 40px;
	}
}

.about-section {
	width: 100%;
	display: block grid;
	gap: 15px;
}

.about-section-title-container {
	width: fit-content;
	background-color: var(--color-primary-brown-dark);
	border: 5.5px dashed var(--color-primary-brown-light);
	border-radius: var(--border-radius-small);
	padding-inline: 4px;
	padding-block: 4px;
}

.about-section-title-box {
	background-color: var(--color-primary-red);
	border: 1.5px solid var(--color-primary-brown-light);
	padding-inline: 15px;
	padding-block: 10px 11px;

	@media (width < 768px) {
		padding-inline: 10px;
	}
}

.about-section-title {
	font-size: 1.25rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	color: var(--color-primary-yellow);
	text-shadow: 2px 2px 0 var(--color-primary-black);

	@media (width < 768px) {
		font-size: 1rem;
	}
}

.about-section-message {
	font-size: 1rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);

	@media (width < 768px) {
		font-size: 0.875rem;
	}
}

.about-section-message em {
	font-style: normal;
}

.about-section-list {
	display: block grid;
	gap: 25px;
}

.about-section-list-content {
	display: block grid;
	gap: 6px;
}

.about-section-list-content-title {
	font-size: 1.125rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	color: var(--color-primary-yellow);
}

.about-section-list-content-description {
	font-size: 1rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-normal);
}

.about-section-last-message {
	display: block grid;
	place-items: center;
	text-align: center;
	gap: 8px;
	font-size: 1.625rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-tight);
	color: var(--color-primary-yellow);
	text-shadow:
		-1px -1px 0 var(--color-primary-black),
		1px -1px 0 var(--color-primary-black),
		-1px 1px 0 var(--color-primary-black),
		1px 1px 0 var(--color-primary-black),
		0px 0px 7px var(--color-primary-yellow);

	@media (width < 1024px) {
		font-size: 1.25rem;
	}

	.about-section-last-message-text:nth-child(2) {
		font-size: 2rem;

		@media (width < 1024px) {
			font-size: 1.2rem;
		}
	}
}
