.adventure-start-link-box {
	display: block grid;
	place-items: center;
}

.adventure-start-link {
	display: block flex;
	align-items: center;
	gap: 8px;
	padding-block: 10px;
	padding-inline: 10px;
	color: var(--color-primary-white);
}

.adventure-start-link:hover .adventure-start-link-icon {
	transform: translateX(-4px);
	filter: drop-shadow(0px 0px 2px var(--color-primary-white));
}

.adventure-start-link:hover .adventure-start-link-text {
	text-shadow: 0 0 8px rgb(255 255 255 / 0.5);
}

.adventure-start-link-icon {
	width: 20px;
	height: 20px;
	transition:
		transform 0.15s ease-in-out,
		filter 0.15s ease-in-out;
}

.adventure-start-link-text {
	font-size: 1.125rem;
	font-weight: var(--font-weight-normal);
	line-height: var(--leading-x-tight);
	transition: text-shadow 0.15s ease-in-out;
}
