.post-card {
	display: block grid;
	grid-template-rows: subgrid;
	grid-row: span 4;
	color: var(--color-primary-white);
	background-color: var(--color-primary-brown);
}

.post-card__link {
	height: 100%;
	display: block grid;
	grid-template-rows: subgrid;
	grid-row: span 4;
	gap: 12px;
	padding-inline: 15px;
	padding-block: 15px;
	border: 2px solid var(--color-primary-brown-light);
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 2px solid var(--color-platform-zenn);

		.post-card__title {
			text-shadow: 0 0 8px rgb(255 255 255 / 0.5);
		}
	}
}

.post-card__title {
	width: fit-content;
	text-wrap: pretty;
	word-break: auto-phrase;
	font-size: 1.125rem;
	font-weight: var(--font-weight-normal);
	text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
	transition: text-shadow 0.15s ease-in-out;

	@media (width < 1024px) {
		font-size: 1rem;
	}
}

/* 新しいスタイル */
.post-card__info {
	display: block flex;
	align-items: center;
	justify-content: space-between;
}

.post-card__category-box,
.post-card__date-box {
	display: block grid;
	place-items: center;
	background-color: var(--color-primary-brown-dark);
	--matched-radius-padding: 2px;
	--matched-radius-inner-size: 2px;
	padding: var(--matched-radius-padding);
	border-radius: calc(var(--matched-radius-inner-size) + var(--matched-radius-padding));
	box-shadow: 0px 0px 2px var(--color-primary-brown-dark);
}

.post-card__category,
.post-card__date {
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	letter-spacing: 0.025em;
	background-color: var(--color-primary-brown-dark);
	border: 2px solid var(--color-primary-brown-light);
	border-radius: var(--matched-radius-inner-size);
	padding-inline: 8.5px;
	padding-block: 5.5px;
}

.post-card__date {
	font-size: 0.875rem;
	font-weight: var(--font-weight-x-bold);
}

.post-card__site-name {
	display: block flex;
	align-items: center;
	gap: 5px;
	margin-block-start: 10px;
}

.post-card__site-name-text {
	font-size: 0.75rem;
	font-weight: var(--font-weight-x-bold);
}

.favicon {
	width: 14px;
	height: 14px;
	object-fit: contain;
}
