.main {
	display: block grid;
	place-items: center;
}

.main-container {
	width: 100%;
	height: 100%;
	display: block grid;
	grid-template-rows: auto auto auto;
	place-items: center;
	align-content: center;
	padding-block-start: 40px;
}

.crown-container {
	width: 50px;
	height: auto;
	margin-inline-start: 282px;
	filter: drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 10%))
		drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 50%))
		drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 50%))
		drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 50%))
		drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 50%))
		drop-shadow(0 0 2px color-mix(in srgb, var(--color-primary-orange), transparent 50%));
}
