.main {
	display: block grid;
	place-items: center;
}

.main-container {
	width: 100%;
	height: 100%;
	display: block grid;
	grid-template-rows: auto auto auto;
	place-items: center;
	align-content: center;
	padding-block-start: 40px;
}
