.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: auto;
	margin-inline: auto;
	user-select: none;
	padding-block: 20px;
	padding-inline: 20px;

	@media (width < 640px) {
		padding-inline: 12px;
	}
}

.header-bg {
	border: 12px solid var(--color-primary-dark-gray);
	border-radius: var(--border-radius-medium);
	background-color: var(--color-primary-dark-gray);
}

.header-container {
	display: block flex;
	align-items: center;
}

.home-header-container {
	justify-content: flex-end;
}

.child-header-container {
	justify-content: space-between;
	background-color: var(--color-primary-dark-gray);
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-inline: 1.875rem;
	padding-block: 0.875rem;

	@media (width < 768px) {
		padding-inline: 1.25rem;
	}

	@media (width < 640px) {
		padding-inline: 0.5rem 1.25rem;
	}
}

.header__title {
	display: block grid;
	font-size: 1.125rem;
	font-family: "ab-don2", sans-serif;
	color: var(--color-primary-yellow);
	text-shadow:
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange),
		0px 0px 2px var(--color-primary-orange);

	@media (width < 768px) {
		font-size: 1rem;
	}
}

.header__title-link {
	display: block flex;
	align-items: center;
	gap: 0.5rem;
}

.header__title-link-text-box {
	letter-spacing: 0.025em;
	display: block flex;
	align-items: center;
}

.header__items {
	display: block flex;
	align-items: center;
	gap: 25px;

	@media (width < 640px) {
		gap: 15px;
	}
}

.header-gnav {
	display: none;
}
