.profile-info-header {
	display: block flex;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	gap: 15px;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: normal;

	@media (width < 640px) {
		flex-direction: column;
		gap: 10px;
	}
}
