.title-container {
	display: block grid;
	place-items: center;
	place-self: end center;
	gap: 35px;
}

.title {
	display: block flex;
	gap: 28px;
	font-family: "ab-don2", sans-serif;
	line-height: var(--leading-none);
	letter-spacing: -0.065em;
	color: var(--color-primary-yellow);
	font-size: 10rem;
	text-align: center;
	text-shadow:
		0px 0px 5px var(--color-primary-orange),
		0px 0px 5px var(--color-primary-orange),
		0px 0px 5px var(--color-primary-orange),
		0px 0px 5px var(--color-primary-orange),
		0px 0px 10px var(--color-primary-orange),
		0px 0px 10px var(--color-primary-orange),
		0px 0px 15px var(--color-primary-orange),
		0px 0px 15px var(--color-primary-orange);
}

.subtitle {
	font-size: 1.5rem;
	line-height: var(--leading-none);
	color: var(--color-primary-yellow);
	letter-spacing: var(--letter-spacing-small);
	text-shadow:
		0px 0px 5px var(--color-primary-orange),
		0px 0px 5px var(--color-primary-orange),
		0px 0px 5px var(--color-primary-orange),
		0px 0px 10px var(--color-primary-orange),
		0px 0px 10px var(--color-primary-orange);
}
