.platform-stats-section {
  width: 100%;
  display: block grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.platform-stats-title {
  position: relative;
  display: block grid;
  font-size: 1.25rem;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-x-tight);

  @media (width < 1024px) {
    place-self: center;
    font-size: 1.125rem;
  }
}

.platform-stats-container {
  width: 100%;
  display: block grid;
  place-self: start;
  gap: 10px;
  margin-block-start: 20px;

  @media (width < 768px) {
    place-items: center;
    gap: 15px;
  }
}

.platform-stats-grid {
  display: block grid;
  place-content: end;
  gap: 15px;
}

.platform-stat-card {
  min-width: 200px;
  height: 135.5px;
  border: 7px dashed var(--color-primary-brown-light);
  background-color: var(--color-primary-brown-dark);
  border-radius: var(--border-radius-small);
  padding-inline: 5px;
  padding-block: 5px;
}

.platform-stat-card-content {
  width: 100%;
  height: 100%;
  display: block grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 5px;
  padding-block: 7.5px 13px;
  padding-inline: 25px;
  border: 2px solid var(--color-primary-brown-light);
  color: var(--color-primary-white);
}

.platform-stat-card-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-none);
  place-self: end;
  text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}

.platform-stat-card-zenn {
  .platform-stat-card-content {
    background-color: var(--color-platform-zenn);
  }
}

.platform-stat-count {
  height: 64px;
  display: block flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
  color: var(--color-primary-white);
}

.platform-stat-loading,
.platform-stat-error {
  height: 100%;
  display: block grid;
  place-items: center;
  text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}

.platform-stat-error {
  font-size: 4rem;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-none);
  font-style: normal;
  letter-spacing: var(--letter-spacing-wide);
}

.platform-stat-count-em {
  font-size: 4rem;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-none);
  font-style: normal;
  letter-spacing: var(--letter-spacing-wide);
  text-shadow: 2.5px 2.5px 0px var(--color-primary-black);
}

.platform-stat-unit {
  font-size: 1rem;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-none);
  text-shadow: 1.5px 1.5px 0px var(--color-primary-black);
}

.platform-stat-share-link {
  display: block flex;
  align-items: center;
  gap: 7px;

  &:hover {
    .platform-stat-share-link-text {
      color: var(--color-primary-yellow);
    }
  }
}

.platform-stat-share-icon-wrap {
  background-color: var(--color-primary-black);
  border-radius: var(--border-radius-small);
  padding: 4.5px;
  filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.platform-stat-share-icon {
  object-fit: contain;
  object-position: center;
  width: 11px;
  height: auto;
  filter: drop-shadow(0 0 2.5px var(--color-primary-white));
}

.platform-stat-share-link-text {
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  padding-inline: 2px;
  padding-block-end: 1px;
  text-decoration: underline;
	text-underline-offset: 4.5px;
	text-decoration-thickness: 1px;
  transition: color 0.2s ease-in-out, border-block-end 0.2s ease-in-out;
}